# Node.js
node_modules/
npm-debug.log*
.env

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# React (Vite)
dist/
.DS_Store

# System files
*.swp
Thumbs.db

# IDE/Editor
.vscode/
.idea/

# OS
*.bak
*.tmp

# Coverage reports
coverage/
